/* FOOTER */
footer{
    background: #F8F9FA;
}

footer ul li{
    line-height: 35px;
    
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.footer_logo::after{
    content: '';
    display: block;
    position: absolute;
    top: 70px;
    height: 1px;
    width: 100%;
    background-color: #006c67;
}

.social_icon i{
    font-size: 25px;

    &:hover{
        cursor: pointer;
        color: red;
    }
}
