* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.bg_green {
  color: #006c67;
}

.btn {
  white-space: nowrap;
}

img {
  max-width: 100%;
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
  width: 8px;
}

/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #909090;
}

#ticket_wrapper {
  background-color: red;
  background-repeat: none;
  background-image: url("/img/sfondo_rosso.jpg");
  padding: 80px 0;
}
#ticket_wrapper .trains_list {
  background-color: beige;
  box-shadow: 10px 10px 7px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-height: 600px;
  overflow: hidden;
}
#ticket_wrapper .trains_list .ticket_main {
  overflow-x: hidden;
  overflow-y: auto;
}
#ticket_wrapper .trains_list .train-item {
  padding: 15px;
  margin-bottom: 40px;
}
#ticket_wrapper .trains_list .train-item .train-head {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding: 0 20px;
  margin-bottom: 20px;
}
#ticket_wrapper .trains_list .train-item .train-head .train-date {
  font-weight: bold;
}
#ticket_wrapper .trains_list .train-info {
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
}
#ticket_wrapper .trains_list .train-info p {
  margin-bottom: 0;
}
#ticket_wrapper .trains_list .train-info .train-arrival {
  text-align: end;
}

header {
  display: contents;
}

.nav-item .nav-link {
  color: gray;
  white-space: nowrap;
  transition: all 250ms ease-in-out;
  text-transform: uppercase;
}
.nav-item .nav-link:hover {
  color: #006c67;
}
.nav-item .active {
  color: red;
}

.navbar-brand:hover {
  color: red;
}

.nav_flag {
  width: 20px;
}

.dropdown-menu {
  min-width: 0;
  background-color: #F8F9FA;
}

.dropdown-toggle::after {
  border: 0;
  content: "\F078";
  font-family: "Font Awesome 5 Free";
  position: relative;
  top: 3px;
  font-size: 0.9rem;
  font-weight: 900;
}

.navbar a.show::after {
  content: "\F077";
}

/* FOOTER */
footer {
  background: #F8F9FA;
}

footer ul li {
  line-height: 35px;
}
footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_logo::after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  height: 1px;
  width: 100%;
  background-color: #006c67;
}

.social_icon i {
  font-size: 25px;
}
.social_icon i:hover {
  cursor: pointer;
  color: red;
}

.card_news {
  color: white;
  transition: all 300ms linear;
}
.card_news:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.07);
}
.card_news img {
  border-radius: 30px;
}

.card_title {
  text-transform: uppercase;
  bottom: 0;
}